<?xml version="1.0"?>
<launch>
	<!-- Launch the node to visualize the smach_viewer FSM -->
	<node name="view_fsm" pkg="smach_viewer" type ="smach_viewer.py" />
	
	<!-- Launch the move_arm service node -->
	<node name="move_arm" pkg="exp_assignment3" type ="move_arm.py"/>

	
	<!-- Launch the marker publisher -->
	<node name="marker_publisher" pkg ="aruco_ros" type="marker_publisher" args="/image:=/robot/camera1/image_raw"/>

	
	<!-- SLAM GMAPPING-->
    	<include file="$(find exp_assignment3)/launch/navigation.launch" />


</launch>
